:root {
    --light-pinked-white: #EDE8EC;
}

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    list-style: none;   /* Deletes the bullets and any style for <li> elementes */
    font-family: sans-serif;
}

body {
    background: var(--light-pinked-white); /* Background color for body! */
}

h1 {
    font: bold 30px sans-serif;
    /* -- It's the same as above --
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    */
}

h2 {
    font: bold 24px sans-serif;
    /* -- It's the same as above --
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    */
}

header, section, footer, aside, nav, article {
    display: block;
    /* border: 1px solid black; */
    /*border: 1px width & solid color & black color*/
    background: #F8F7F9;
}

.time {
    /*
    This class into the DIV lets to align the content "time" to the right
    by adding a text-align:right;
    Finally added a color gray to the text and added a series of padding config.
    */
    
    color: gray;
    font: sans-serif 24px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: auto;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.time time {
    margin-right: 10px;
}

.content {
    background: #F8F7F9;
    width: 70%; /* Width for the webpage */
    height: 100%;
    margin: 15px auto; /* To center the content */
}

.header_1 h1, h2{
    background-color: #443742;
    text-align: center;
    color: white;
}

.header_1 h1 {
    padding: 30px;
}

.header_1 h2 {
    /* padding-top: 20px; */    /* It's not neccesary because h1 has 30px top and down so it's just needed to add a bottom padding for the h2 or objective of the page. */
    padding-bottom: 30px;
}

.sec {
    border-radius: 15px;
    width: 60%;
    float: left;
    margin: 10px;
    border: 1px solid black;
}

.sec article {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.sec h2 {
    margin: -1px;                           /* SET a margin and cover the section's border*/
    padding: 5px;                           /* ADDED a padding to avoid having the text streched */
    border-top-left-radius: 15px;           /* ADDED border radious top left */
    border-top-right-radius: 15px;          /* ADDED border radious top right */
}

.subtitles {
    border-radius: 15px;;
    margin: 10px;
    padding: 10px;
    background-color: #443742;
    color: white;
    text-align: center;
}


/*///////////////////// STYLES FOR MENU BAR /////////////////////*/

.menu {
    background: #5E4C5A;
    padding: 5px;
    height: 61px
}

#home-btn {
    background-color: var(--light-pinked-white);
    width: 49px;
    height: 49px;
    padding: 3px;
    border-radius: 10px;

    position: absolute;
    left: 1%;
}

#hamburguer_icon {    
    border-radius: 10px;
    background-color: var(--light-pinked-white);
    width: 49px;
    height: 49px;
    position: absolute;
    right: 1%;
}

#navBar_items {
    display: flex;
    justify-content: space-around;
    margin: 8px auto;
    width: 50%;
}

.menu>#navBar_items li {
    background: white; /* White color for background */
    border-radius: 25px; /* The border radiuos for a non-rectangle look */
    padding: 5px 20px; /* This is for the space in the box */ 
    margin: 3px 5px;
    font: bold 14px verdana; /* Text style */
    /* display: inline-block; To specify the order of the <li> elements to be inline-block */
}

.menu>#navBar_items>li>a {
    text-decoration: none;
    color: black;
}

.list_of_basic_labels {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 8px;

    /* To separete from above paragraph */
    margin: 8px 16px;
    margin-bottom: 32px;
}

.list_of_basic_labels>ul {
    width: 400px;
    margin: auto 24px;
}

.list_of_basic_labels>ul>li{
    list-style:disc;
    margin: 18px 18px;
}

.list_of_basic_labels>ul>li>.p {
    font-size: 14px;
}

.html_structure_wrapper {
    margin-top: 16px;
    margin-bottom: 32px;
}

.html_structure {
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    width: 50%;
}

.html_structure>h4 {
    border: 1px solid black;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
}

.html_structure>ul{
    border: 1px solid black;
    border-radius: 8px;
    margin: 4px auto;
    padding: 14px;
}

.html_structure>li {
    list-style:inside;
}


figure {
    text-align: center;
}

.picture {
    border-radius: 10px;
    margin: 10px auto;
    width: 50%;
}

.aside {
    border: 1px solid black;
    border-radius: 15px;
    background: #F8F7F9;
    padding: 5px;
    margin: 10px 0px;
    width: 35%;
    float: right;
}

.section_footer {
    border: 1px solid black; 
    border-radius: 8px;
    margin-top: 16px;
    padding: 4px;
    text-align: center;
    color: black;
}

.footer {
    text-align: center;
    background: #443742;
    color: white;
    font: bold verdana;
    clear: both;
    padding: 15px;
}

.link {
    text-align: center;
    margin: 18px auto;
}

.link>a {
    color: black;
}

.meta_char_list {
    padding-left: 15px;
}

.meta_char_list li {
    list-style-type:disc;
}


/*///////////////////// MEDIA QUERY SECTION /////////////////////*/

@media (min-width: 972px) {
    #hamburguer_icon, #home-btn {
        display: none;
    }
}

@media (max-width: 972px) {
    .aside, #navBar_items {
        display: none;
    }
    .content, .sec {
        width: 100%;
    }
    .sec {
        margin: 10px 0px;
    }
    picture>#hamburguer_icon {
        /* display: flex; */
        justify-content: flex-end;
    }
}