
h1 {
    font: bold 20px sans-serif;
    /* -- It's the same as above --
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    */
}

h2 {
    font: bold 14px sans-serif;
    /* -- It's the same as above --
    font-size: 14px;
    font-family: sans-serif;
    font-weight: bold;
    */
}

header, section, footer, aside, nav, article {
   border: 1px solid black;
   /*border: 1px width & solid color & black color*/
}




























/*JUST FOR PRATICE*/

/*
    SELECTORS:
    -> HTML element
    -> ID
    -> Class
*/


/*HTML ELEMENT
body {
    background-color:rgb(67, 175, 175);
}
/*

/*ID
#header_1 {
    color:aliceblue;
}
*/
/*Class
.sec {
    text-align:right;
}
*/