h1 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif; 
    text-align: center;
}

p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif; 
}

cite {
    font-weight: bold;
}

header,section, article {
    border: 1px solid black
}

body {
    text-align: left; 
}

div {
    background: #D7BDE2
}

.header {
    background: #C39BD3
}

