#column_reverse {
    border: 1px solid slateblue;
    border-radius: 20px;
    padding: 5px;
}


#container {
    background-color: papayawhip;
    border-radius: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    
}

#container #item:nth-child(2n-1) {
    background-color: aqua;
}

#item {
    height: 30px;
    width: 30px;
    background-color: purple;
}