.body {
    width: 80%;
    margin: 30px auto;
    border: 2px solid black;
    border-radius: 4px;
}

.content {
    padding: 50px;
    text-align: center;
}

.content>.title {
    min-width: 30%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.content>a {
    border: 1px solid black;
    border-radius: 4px;
    padding: 14px;
}

a:active {
    background-color:rgb(221, 246, 246);
    color: black;
}

footer {
    border-top: 1px solid black;
    padding: 8px;
    text-align: center;
}